.navbar .navbar-brand {-ms-flex-item-align: end;align-self: flex-end;}
.counter {
    position: absolute;
    margin-left: -23px;
    margin-top: -1px;
    background-color: #fe1212;
    color: #fff;
    padding: 1px 7px;
    font-size: 11px;
    z-index: 2;
    border-radius: 10rem;
    top:-5px;
    right:-5px;
}
.navbar .btn{overflow: visible;}
.navbar .notification{top:15px;right:5px;}
.navbar{box-shadow: 0 1px 1px 0 rgba(201, 201, 201, 0.8);min-height:71px;}
.navbar .navbar-nav > li > .dropdown-menu{opacity: 1;visibility: visible;right: 0;left: auto;max-width: none;min-width: 200px;}
.navbar .dropdown-menu a{display: block}
.fa {font-size: 28px;color:#a5a5a5;margin:0 20px;}