a.active{border-bottom:1px solid blue;}
/* @font-face { font-family: 'OpenSans'; src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  url('fonts/OpenSans.woff') format('woff'), url('fonts/OpenSans.ttf')  format('truetype'), url('fonts/OpenSans.svg#OpenSans') format('svg'); font-weight: normal; font-style: normal; } */

* { box-sizing: border-box; }
body { background:#eee; }
.UMT-userProfile-wrap { text-align: center;} 
.UMT-userProfile-wrap p { margin:0; }
.UMT-usrProfile { max-width:100%; margin:40px 20px 0; text-align:center; font-family: OpenSans, Helvetica, sans-serif;  position: relative; padding: 40px 20px 20px; border: 1px solid #eee; box-shadow: 0 4px 10px 0 #eee; border-radius: 4px; }
.UMT-header { font-size: 14px; font-weight: normal; font-family: OpenSans, Helvetica, sans-serif; background:#0ba224; padding: 20px; color:#fff; border-radius: 4px; position: absolute; left: 20px; right: 20px; top: -30px; margin:0; text-align: left; box-shadow: 0 2px 3px rgba(0,0,0,0.2); }
.UMT-formfield { width: 41%;display: inline-block;margin: 1% 4%;border: 1px solid #EFEFEF;padding: 10px;}
.UMT-formfield *  { vertical-align: middle; }
.UMT-formfield label { display: inline-block; text-align: left; color:#bcbec0; margin:0; position: relative;font-size: 16px; }
.UMT-formfield span { display:inline-block;color:#555555; text-align: left; font-size:19px;}


.UMT-personal-list,.UMT-official-list{font-size: 0;padding:2% 0;}
.form-control { border:none; }
.UMT-lft-sec { width: 23%; display: inline-block; vertical-align: top;background: #FFF;padding-bottom: 5%; }
.UMT-profile-pic { margin: 60px 0 40px;pointer-events: none; }
.UMT-lft-sec p { font-weight: bold; }
.UMT-lft-sec span { display: inline-block; width:100%; font-size:14px; color:#999; margin: 8px 0 30px; } 
.UMT-lft-sec label { cursor: default;}
.UMT-rgt-sec { width: 72%; display: inline-block; vertical-align: top; border-left: 1px solid #e4e4e4; text-align: left; background: #FFF;margin-left:3%;}
.UMT-rgt-sec h4 { color: #555; font-size: 24px; margin: 0; padding:20px 40px;background: #f8f8f8;}
.UMT-about-details { padding: 0 50px; }
.UMT-about-details p { font-size: 14px; color:#636363; } 
.UMT-official-info, .UMT-personal-info { border-top: 1px solid #e4e4e4;}

