<!--<p>my-profile works!</p>-->
<div class="UMT-userProfile-wrap">
	<div class="UMT-usrProfile" *ngFor="let item of items">
      <div class="UMT-lft-sec">
          <div class="UMT-profile-pic">
              <!-- <img [src]="item.PROFILE_PIC"/> -->
              <img  class="thumbnail-image" [src]="item.PROFILE_PIC" onError="this.src='../../assets/img/placeholder.png';"  alt="..." />
          </div>
          <p>{{item.FNAME}} {{item.LNAME}}</p>
          <span>{{item.DESIGNATION}} - {{item.TEAM}}</span>
          <label class="btn btn-outline-success my-2 my-sm-0">{{item.EMP_ID}}</label>
        </div>
        <div class="UMT-rgt-sec">
              <div class="UMT-official-info">
                <h4>Employment Information</h4>
                <div class="UMT-official-list">
                  <div class="UMT-formfield UMT-lbl-bg UMT-doj"><label>Date of Joining</label><br><span>{{item.DOJ}}</span></div>
                  <div class="UMT-formfield UMT-lbl-bg UMT-email"><label>Email</label><br><span>{{item.EMAIL_ID}}</span></div>
                  <div class="UMT-formfield UMT-lbl-bg UMT-dept"><label>Dept</label><br><span>{{item.DEPT}}</span></div>
                  <div class="UMT-formfield UMT-lbl-bg UMT-divi"><label>Division</label><br><span>{{item.DIVISION}}</span></div>
                </div>
              </div>
              <div class="UMT-personal-info">			
                <h4>Personal Information</h4>
                <div class="UMT-personal-list">
                  <div class="UMT-formfield UMT-lbl-bg UMT-gndr"><label>Gender</label><br><span>{{item.GENDER}}</span></div>
                  <div class="UMT-formfield UMT-lbl-bg UMT-dob"><label>DOB</label><br><span>{{item.DOB}}</span></div>
                  <div class="UMT-formfield UMT-lbl-bg UMT-contNo"><label>Contact No.</label><br><span>{{item.CONTACT_NO}}</span></div>
                  <div class="UMT-formfield UMT-lbl-bg UMT-emgNo"><label>Emg. Contact No.</label><br><span>{{item.EMERGENCY_CONTACT_NO}}</span></div>
                </div>
              </div>
        </div>
  </div>
</div>